{% extends 'app1/base.html' %}
{% block content %}


<div class="jumbotron">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    Username: {{ form.username }} <br><br>
    Email: {{ form.email }} <br><br>
    Password: {{ form.password1 }} <br><br>
    Password: {{ form.password2 }} <br><br>
    {{ form.errors }}

<input class="btn btn-dark" type="submit" value="Sign Up">
</form>

<div class="d-flex justify-content-center links">
    Already have an account?-- <a href="{% url 'loginuser' %}" class="btn btn-dark"> Login </a>
</div>
</div>



{% endblock %}