{% extends 'app1/base.html' %}
{% block content %}


<div class="jumbotron">
<form method="POST">
    {% csrf_token %}
    {{ form.username }}
    {{ form.email }}
    {{ form.password1 }}
    {{ form.password2 }}
    {{ form.errors }}

<input class="btn login_btn" type="submit" value="Sign Up">
</form>

<div class="d-flex justify-content-center links">
    Already have an account? <a href="{% url 'loginuser' %}" class="ml-2">Login</a>
</div>
</div>



<script>

var form_fields = document.getElementsByTagName('input')
form_fields[1].placeholder='Username..';
form_fields[2].placeholder='Email..';
form_fields[3].placeholder='Enter password...';
form_fields[4].placeholder='Re-enter Password...';


for (var field in form_fields){	
form_fields[field].className += ' form-control'
}
</script>

{% endblock %}