{% extends 'app1/base.html' %}
{% block content %}


<div class="jumbotron">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.username }}
    {{ form.email }}
    {{ form.password1 }}
    {{ form.password2 }}
    {{ form.errors }}

<input class="btn login_btn" type="submit" value="Sign Up">
</form>

<div class="d-flex justify-content-center links">
    Already have an account? <a href="{% url 'loginuser' %}" class="ml-2">Login</a>
</div>
</div>



{% endblock %}