

    
    <h3>@{{ dd.user }}</h3>
    <h4>{{ dd.date_created|date:'M j Y H:i' }}</h4>
    <br><br>
    <h5>{{ dd.content_name }}</h5>
    <h5>{{ dd.content }}</h5>
    <h5>{{ dd.photos }}</h5>

    <form action="{% url 'postcomment' dd.sno  %}" method="post">
      {% csrf_token %}
      <input type="text" name="comment" placeholder="Enter comment here">
      <input type="hidden" name="sno" value="{{post.sno}}" >
      <input type="submit" value="Submit">
    </form>
    <div><br><br>
      {% for i in comments %}
      {{ i.user.username }} <h5> {{ i.date_created }}</h5> <br>
      {{ i.comment }}
      <br><br>
      {% endfor %}
    </div>
    

