

<form method="GET" action="{% url 'search' %}" >
    <input type="search" placeholder="Search" aeia-label="search" name="query" id="query">
    <button type="submit">Search</button>
</form>


{% for i in form %}
<div class="jumbotron text-center">


<a href="{% url 'dpost' i.sno %}"><br><h4>{{ i.title|safe|truncatechars:50 }}</h4></a>
@{{ i.user }}<br>{{ i.date_created }}
<h5>{{ i.recipe|safe|truncatechars:100 }}</h5>

</div>
{% endfor %}


<div class="jumbotron text-center">
    <div class="btn-group btn-group-lg ">
    <a href="{% url 'cpost' %}" class="btn btn-dark"> Create Recipe</a>
    <a href="/">Home</a>
<br>
<br>
</div>

